    * {
        padding: 0px;
        margin: 0px;
    }
    
    .nav {
        background-image: linear-gradient( #555555, #343a40);
        color: blue;
        padding: 10px;
        font-size: 1.5em;
        box-shadow: -1px 1px 80px 20px black;
    }